.no-marg-top {
  margin-top: 0;
}

.no-marg-bot {
  margin-bottom: 0;
}

.no-marg-left {
  margin-left: 0;
}

.no-marg-right {
  margin-right: 0;
}

.marg-vert-small {
  margin: .714em 0;
}

.img-responsive {
  display: inline-block!important;
}
