<ul class="socials list-unstyled list-inline">
    <li><a href="https://www.linkedin.com/in/paulineargenson" target="_blank" title="Voir mon profil Linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="http://fr.viadeo.com/fr/profile/pauline.argenson" title="Voir mon profil Viadeo" target="_blank"><i class="fa fa-viadeo"></i></a></li>
    <li><a href="https://twitter.com/paulineargenson" target="_blank" title="Voir mon profil Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="skype:pauline34000?chat" title="Skype"><i class="fa fa-skype"></i></a></li>
    <li><a href="mailto:pauline.argenson@gmail.com" title="Me contacter"><i class="fa fa-envelope-o"></i></a></li>
</ul>