// Font-size REM to PX
 @mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * $font-size-base);
  font-size: $sizeValue + rem;
}

// Fluid line-height
@mixin line-height($min-height, $max-height, $min-width, $max-width) {
  line-height: calc(#{$min-height}em + (#{$max-height} - #{$min-height}) * ((100vw - #{$min-width}em) / (#{$max-width} - #{$min-width})));
}

// Fluid typography
@mixin fluid-typo($min-font, $max-font, $min-viewport, $max-viewport) {
  font-size: #{$min-font}px;
  @media (min-width: #{$min-viewport}px) and (max-width: #{$max-viewport}px) {
    font-size: calc(#{$min-font}px + (#{$max-font} - #{$min-font}) * ( (100vw - #{$min-viewport}px) / ( #{$max-viewport} - #{$min-viewport})));
  }
  @media (min-width: #{$max-viewport}px) {
    font-size: #{$max-font}px;
  }
}
